node_modules
*.env
dist
pop-n-lock*.tgz
.nyc_output
coverage
coverage-ts
build
lib/build
**/tempCodeRunnerFile**
ressource.ignrored
ignrored.ressource
ressource.0-ignored
ignoredResourceForeground
0-ignoredResourceForeground
