*
*.*
**/*.*
lib/**/*


color-convert
colors-reference.js
contribute.md
examples
extensions
.git
.gitignore
lib
myColorList.js
myReducedSet.js
node_modules
.npmignore
.prettierrc
removecode.jsonc
.snyk
tsconfig.json
tslint.json
.vscode
.vscodeignore
working-notes.txt
yarn.lock
archives





src/languages/**/*.*
!src/languages/ts.language-configuration.json
!src/languages/tsx.language-configuration.json
!src/languages/js.language-configuration.json
!src/languages/jsx.language-configuration.json
!src/languages/json.language-configuration.json
!src/languages/jsonc.language-configuration.json
!src/languages/yaml.language-configuration.json
!src/languages/html.language-configuration.json
!src/languages/css.language-configuration.json

src/themes/**/*.*
!src/themes/Pop-N-Lock.original.json
!src/themes/Pop-N-Lock.alexis-black.json
!src/themes/Pop-N-Lock.tsa-asd.json

!LICENSE
!luxcium-TM.ico
!package.json
!README.md
!Scientia-is-lux-principium-400px-TM.png
!social-media-image.png

pop-n-lock*.vsix
pop-n-lock*.tgz
*.lock
!pop-n-lock-theme-vscode-3.32.11.vsix
images/**/*.*
