{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 80,
  "arrowParens": "avoid",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "proseWrap": "preserve",
  "rangeStart": 0,
  "trailingComma": "es5",
  "useTabs": false,
  "overrides": [
    {
      "options": {
        "printWidth": 70,
        "semi": true
      },
      "files": [
        "lib/utils/**/main.ts",
        "lib/utils/**/sync.ts",
        "lib/utils/**/async.ts",
        "lib/**/*.ts",
        "lib/classes/color-element-list/ColorElementList.ts",
        "lib/classes/color-element/ColorElement.ts"
      ]
    },
    {
      "options": {
        "printWidth": 120,
        "semi": true
      },
      "files": [
        "lib/tools/color/**/*.*",
        "lib/**/*.spec.ts",
        "lib/tests/mock/dummy-list.ts"
      ]
    }
  ]
}
