*
*.*
**/*.*
lib/**/*
!images/**/*.*
!package.json
!README.md
!Scientia-is-lux-principium-400px-TM.png
!src/languages/**/*.*
!src/themes/**/*.*
!*.ico
!*.png
!social-media*
!LICENSE
src/themes/backup/**/*.*
pop-n-lock*.tgz
color-convert
colors-reference.js
contribute.md
examples
extensions
.git
.gitignore
lib
myColorList.js
myReducedSet.js
node_modules
.npmignore
pop-n-lock-theme-vscode*.*vsix*
.prettierrc
removecode.jsonc
.snyk
tsconfig.json
tslint.json
.vscode
.vscodeignore
working-notes.txt
yarn.lock
archives
pop-n-lock-theme-vscode-3.32.6.vsix
pop-n-lock-theme-vscode-3.32.7.vsix

!images
!LICENSE
!luxcium-TM.ico
!package.json
!README.md
!Scientia-is-lux-principium-400px-TM.png
!social-media-image.png
!src
